.cards {
    display: flex;
    flex-direction: column;

    gap: 32px;

    @media (width <= $breakpoint-md) {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    @media (width <= $breakpoint-sm) {
        display: flex;
        flex-direction: column;
    }
}

.card,
.swiper-slide {
    display: grid;
    grid-template-columns: repeat(2, 1fr);

    align-items: center;
    gap: 32px;

    &:nth-child(even):not(.swiper-slide) {
        .col_texte {
            order: -1;
        }
    }

    @media (width <= $breakpoint-md) {
        display: grid;
        grid-template-columns: 1fr;

        &:nth-child(even):not(.swiper-slide) {
            .col_texte {
                order: unset;
            }
        }
    }

    @media (width <= $breakpoint-xs) {
        grid-template-columns: 1fr;

        &:nth-child(even):not(.swiper-slide) {
            .col_texte {
                order: unset;
            }
        }
    }
}
.col_image {
    aspect-ratio: 594/490;
    img {
        border-radius: 16px;
        display: block;

        width: 100%;
        height: 100%;

        object-fit: cover;
    }
}

.col_texte {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 32px;

    flex: 1 0 0;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    gap: 24px;
    flex-shrink: 0;
}

.titre_description {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    align-self: stretch;
}

.swiper-wrapper {
    display: flex;

    flex-direction: row;
}

.swiper-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: var(--spacing-lg);

    width: 100%;

    .swiper-pagination {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 20px;

        height: 30px;

        --swiper-pagination-color: var(--color-white);
        --swiper-pagination-bullet-inactive-color: rgba(0, 0, 0, 0.97);

        --swiper-pagination-bullet-width: 20px;
        --swiper-pagination-bullet-height: 20px;

        position: static;

        --swiper-pagination-bullet-border-radius: 0;
        .swiper-pagination-bullet {
            transform: rotate(45deg);
        }
    }
}
