.footer {
    background-color: var(--color-black);

    .wrapper {
        padding: 40px 110px;
    }

    .content {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 30px;
        align-self: stretch;
    }

    .titre_description {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 4px;
        align-self: stretch;
    }

    .social_media {
        display: flex;
        justify-content: center;
        align-items: flex-start;
        gap: 56px;
        align-self: stretch;

        .icon {
            width: 48px;
            height: 48px;

            fill: #8c8c8c;
        }
    }
}
