.footer {
    background-color: var(--color-black);

    padding: 40px 0;

    .wrapper {
        @media (width <= 480px) {
            padding: 30px 40px;
        }
    }

    .content {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: var(--spacing-md);
    }

    .titre_description {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 4px;
    }

    .social_media {
        display: flex;
        justify-content: center;
        align-items: flex-start;
        gap: 56px;
        align-self: stretch;

        .icon {
            width: 48px;
            height: 48px;

            fill: #8c8c8c;
        }
    }
}
