.footer {
    background-color: var(--color-black);

    .wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 30px;
        align-self: stretch;
    }
}
