.header {
    background: rgba(0, 0, 0, 0.6);

    position: sticky;

    z-index: 3;

    .wrapper {
        display: flex;
        padding: 25px 110px;
        flex-direction: column;
        align-items: center;
    }
}
