.hero {
    position: relative;
    height: 95vh;

    .wrapper {
        height: 100%;
        display: flex;

        flex-direction: column;
        justify-content: flex-end;

        @media (width <= $breakpoint-xs) {
            padding: 60px 30px;
        }
    }

    @media (width <= $breakpoint-md) {
        height: 60vh;
    }
}
.hero_media {
    position: absolute;
    z-index: -1;

    width: 100%;
    height: 100%;

    top: 0;
    left: 0;

    display: flex;

    img {
        width: 100%;
        height: 100%;

        object-fit: cover;
    }
}

.hero_content {
    z-index: 2;
    width: 60%;
}

.media_gradient {
    position: relative;

    .gradient {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: linear-gradient(
            180deg,
            rgba(0, 0, 0, 0) 0%,
            rgba(0, 0, 0, 0.4) 100%
        );
    }
}
