.hero {
    display: flex;

    justify-content: center;
    align-items: center;

    .wrapper {
        display: flex;
        position: relative;

        height: 866px;

        flex-direction: column;
        justify-content: flex-end;
        align-items: flex-start;
    }

    .zone_media {
        position: absolute;
        z-index: 1;

        height: 100%;
        top: 0;
        left: 0;

        display: flex;
        flex-direction: column;

        align-items: end;
    }

    .media_gradient {
        height: 100%;
        width: 100%;

        position: relative;

        .gradient {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background: linear-gradient(
                180deg,
                rgba(0, 0, 0, 0) 0%,
                rgba(0, 0, 0, 0.4) 100%
            );
        }

        .img {
            display: block;
        }
    }

    .content {
        z-index: 2;
    }
}
