.labo {
    background-color: var(--color-black);

    .wrapper {
        display: flex;

        flex-direction: column;
        align-items: flex-start;
        gap: 100px;
        align-self: stretch;
    }

    .cards {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 50px;
        align-self: stretch;
    }

    .card {
        display: flex;

        align-items: flex-start;
        gap: 32px;
        align-self: stretch;

        .col_image {
            flex: 1 0 0;
            align-self: stretch;
        }

        .col_texte {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
            gap: 32px;
            flex: 1 0 0;
            align-self: stretch;
        }

        .content {
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            align-items: flex-start;
            gap: 24px;
            align-self: stretch;
        }

        .titre_description {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap: 16px;
            align-self: stretch;
        }
    }
}
