.labo {
    background-color: var(--color-black);

    .wrapper {
        display: flex;

        flex-direction: column;
        align-items: flex-start;
        gap: 100px;
        align-self: stretch;
    }
}
