.labo {
    background-color: var(--color-black);

    .wrapper {
        display: flex;

        flex-direction: column;
        align-items: start;
        gap: var(--spacing-xl);
        align-self: stretch;
    }
}
