/* ==========================================================================
   LINKS / ELEMENTS
   Style de base de tous les liens et bouton du site
   ========================================================================== */

a {
    text-decoration: none;

    font-family: var(--font-secondary);
}

.bouton {
    display: flex;
    padding: 8px 16px;
    justify-content: center;
    align-items: center;
    gap: 8px;

    border-radius: 100px;
    background: var(--color-primary);

    &.noir {
        background: var(--color-black);
        color: var(--color-white);
        fill: var(--color-white);
    }
}
