/* ==========================================================================
   TYPOGRAPHY / ELEMENT
   ========================================================================== */

h2,
h3,
h4,
p,
.btn {
    font-family: var(--font-secondary);
    line-height: 150%;
    font-weight: 300;

    color: var(--color-white);

    margin: 0;
}

.tp {
    color: var(--color-black);
}

h1 {
    font-size: var(--font-size-h1);
    font-family: var(--font-primary);
    font-weight: 700;

    color: var(--color-primary);
}

h2 {
    font-size: var(--font-size-h2);
}

h3 {
    font-size: var(--font-size-h3);
}

h4 {
    font-size: #{typo(18px)};
}

p,
.btn {
    font-size: #{typo(16px)};
}

.btn {
    font-weight: 700;
}

.header {
    font-size: #{typo(20px)};
    font-weight: 600;
    text-transform: uppercase;
}

.footer {
    & p {
        font-size: #{typo(56px)};
    }

    & p + p {
        font-size: #{typo(18px)};
    }
}

span {
    font-weight: 600;
}
