/* ==========================================================================
   TYPOGRAPHY / ELEMENT
   ========================================================================== */

h2,
h3,
h4,
p,
.bouton {
    font-family: var(--font-secondary);
    line-height: 150%;
    font-weight: 300;

    color: var(--color-white);

    margin: 0;
}

h1 {
    font-size: var(--font-size-h1);
    font-family: var(--font-primary);
    font-weight: 700;
    line-height: 100%;

    color: var(--color-primary);

    margin: 0;
}

h2 {
    font-size: var(--font-size-h2);
}

h3 {
    font-size: #{typo(16px)};

    text-transform: uppercase;
}

.tag {
    font-size: #{typo(18px)};
}

p {
    font-size: var(--font-size-h3);
}

.bouton {
    font-size: #{typo(16px)};
    font-weight: 700;
    color: var(--color-black);

    letter-spacing: 0.64px;
    text-transform: uppercase;
}

.header p {
    font-size: #{typo(20px)};

    text-transform: uppercase;
}

.footer {
    .titre p {
        font-size: #{typo(56px)};

        letter-spacing: -1.12px;
    }

    .titre_description > p {
        font-size: #{typo(18px)};
    }
}

span {
    font-weight: 600;
}

.footer .titre_description > p span {
    font-weight: 700;
}

.labo p,
.labo h2,
.footer p {
    color: rgba(255, 255, 255, 0.55);

    span {
        color: rgba(255, 255, 255, 1);
    }
}

.tp {
    h2,
    .tag,
    h3,
    p {
        color: var(--color-black);
    }
}
