/* ==========================================================================
   TYPOGRAPHY / ELEMENT
   ========================================================================== */

h2,
h3,
h4,
p,
.bouton {
    font-family: var(--font-secondary);
    line-height: 150%;
    font-weight: 300;

    color: var(--color-white);

    margin: 0;
}

.tp {
    color: var(--color-black);
}

h1 {
    font-size: var(--font-size-h1);
    font-family: var(--font-primary);
    font-weight: 700;
    line-height: 100%;

    color: var(--color-primary);

    margin: 0;
}

h2 {
    font-size: var(--font-size-h2);
}

h3 {
    font-size: var(--font-size-h3);
}

h4 {
    font-size: #{typo(18px)};
}

p,
.bouton {
    font-size: #{typo(16px)};
}

.bouton {
    font-weight: 700;
    color: var(--color-black);

    letter-spacing: 0.64px;
    text-transform: uppercase;
}

.header {
    font-size: #{typo(20px)};

    text-transform: uppercase;
}

.footer {
    & p {
        font-size: #{typo(56px)};
    }

    & p + p {
        font-size: #{typo(18px)};
    }
}

span {
    font-weight: 600;
}

.labo h3,
.labo h2 {
    color: rgba(255, 255, 255, 0.55);

    & span {
        color: rgba(255, 255, 255, 1);
    }
}

.tp h3 {
    color: rgba(0, 0, 0, 0.55);

    & span {
        color: rgba(0, 0, 0, 1);
    }
}
