/* ==========================================================================
   WRAPPER / ELEMENT
   ========================================================================== */

.wrapper {
    max-width: $breakpoint-lg;
    width: calc(100% - var(--spacing-md));
    margin: 0 auto;
    padding: 80px 110px;
}
