/* ==========================================================================
   WRAPPER / ELEMENT
   ========================================================================== */

.wrapper {
    max-width: $breakpoint-lg;

    margin: 0 auto;
    padding: 0 110px;

    @media (width <= 480px) {
        padding: 60px 30px;
    }
}
