{% include "_partials/_header.html" %}
<section class="hero">
    <div class="wrapper">
        <div class="zone_media">
            <div class="media_gradient">
                <img src="assets/images/hero.jpg" alt="" />
                <div class="gradient"></div>
            </div>
        </div>
        <div class="content">
            <h1>
                Mon cahier
                <br />
                d’exercice
            </h1>
        </div>
    </div>
</section>

<section class="labo">
    <div class="wrapper">
        <div class="title">
            <h2>Mes premiers laboratoires</h2>
        </div>
        <div class="cards">
            <div class="card">
                <div class="col_image"><img src="assets/images/change_this.jpg" alt="" /></div>
                <div class="col_texte">
                    <div class="content">
                        <div class="titre_description">
                            <p>SEM 01 - RÉVISION</p>
                            <h3>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ultrices lorem non feugiat egestas amet.</h3>
                        </div>
                        <h4>HTML + CSS</h4>
                    </div>
                    <a href="" class="bouton">
                        VOIR LE LABORATOIRE
                        <svg class="icon">
                            <use href="#icon-chevron-right"></use>
                        </svg>
                    </a>
                </div>
            </div>
            <div class="card">
                <div class="col_texte">
                    <div class="content">
                        <div class="titre_description">
                            <p>SEM 02 - TIMTOOLS</p>
                            <h3>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ultrices lorem non feugiat egestas amet.</h3>
                        </div>
                        <h4>SCSS</h4>
                    </div>
                    <a href="" class="bouton">
                        VOIR LE LABORATOIRE
                        <svg class="icon">
                            <use href="#icon-chevron-right"></use>
                        </svg>
                    </a>
                </div>
                <div class="col_image"><img src="assets/images/change_this.jpg" alt="" /></div>
            </div>
            <div class="card">
                <div class="col_image"><img src="assets/images/change_this.jpg" alt="" /></div>
                <div class="col_texte">
                    <div class="content">
                        <div class="titre_description">
                            <p>SEM 03 - PORTFOLIO LOUIS LAJOIE</p>
                            <h3>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ultrices lorem non feugiat egestas amet.</h3>
                        </div>
                        <h4>HTML + SCSS</h4>
                    </div>
                    <a href="" class="bouton">
                        VOIR LE LABORATOIRE
                        <svg class="icon">
                            <use href="#icon-chevron-right"></use>
                        </svg>
                    </a>
                </div>
            </div>
            <div class="card">
                <div class="col_texte">
                    <div class="content">
                        <div class="titre_description">
                            <p>SEM 04 - ICÔNES ET CLASSES JS</p>
                            <h3>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ultrices lorem non feugiat egestas amet.</h3>
                        </div>
                        <h4>SCSS + JAVASCRIPT</h4>
                    </div>
                    <a href="" class="bouton">
                        VOIR LE LABORATOIRE
                        <svg class="icon">
                            <use href="#icon-chevron-right"></use>
                        </svg>
                    </a>
                </div>
                <div class="col_image"><img src="assets/images/change_this.jpg" alt="" /></div>
            </div>
        </div>
    </div>
</section>

{% include "_partials/_footer.html" %}
