{% include "_partials/_header.html" %}
<section class="hero section">
    <div class="hero_media">
        <img src="assets/images/hero.jpg" alt="" />
        <div class="gradient"></div>
    </div>
    <div class="wrapper">
        <div class="hero_content">
            <h1>Mon cahier d’exercice</h1>
        </div>
    </div>
</section>

<section class="labo section">
    <div class="wrapper">
        <div class="title">
            <h2>
                Mes premiers
                <span>laboratoires</span>
            </h2>
        </div>
        <div class="cards">
            <div class="card">
                <div class="col_image"><img src="assets/images/labo1.png" alt="" /></div>
                <div class="col_texte">
                    <div class="content">
                        <div class="titre_description">
                            <h3><span>Sem 01 - Révision</span></h3>
                            <p>
                                Exercice de révision réalisé en début de session
                                <span>visant à rafraîchir la mémoire des étudiants sur le web.</span>
                            </p>
                        </div>
                        <p class="tag">HTML + CSS</p>
                    </div>
                    <a href="" class="bouton">
                        Voir le laboratoire
                        <svg class="icon--lg">
                            <use href="#icon-chevron-right"></use>
                        </svg>
                    </a>
                </div>
            </div>
            <div class="card">
                <div class="col_image"><img src="assets/images/labo2.png" alt="" /></div>
                <div class="col_texte">
                    <div class="content">
                        <div class="titre_description">
                            <h3><span>Sem 02 - Timtools</span></h3>
                            <p>
                                Exercice d'introduction et d'utilisation de Timtools,
                                <span>un stack ayant plusieurs outils facilitant le codage.</span>
                            </p>
                        </div>
                        <p class="tag">SCSS</p>
                    </div>
                    <a href="" class="bouton">
                        Voir le laboratoire
                        <svg class="icon--lg">
                            <use href="#icon-chevron-right"></use>
                        </svg>
                    </a>
                </div>
            </div>
            <div class="card">
                <div class="col_image"><img src="assets/images/labo3.png" alt="" /></div>
                <div class="col_texte">
                    <div class="content">
                        <div class="titre_description">
                            <h3>
                                <span>Sem 03 - Portfolio Louis Lajoie</span>
                            </h3>
                            <p>
                                Exercice de création de site web servant à mettre en pratique plusieurs notions,
                                <span>dont Timtools et ses fonctionnalités, ainsi que d'autres nouvelles notions.</span>
                            </p>
                        </div>
                        <p class="tag">HTML + SCSS</p>
                    </div>
                    <a href="" class="bouton">
                        Voir le laboratoire
                        <svg class="icon--lg">
                            <use href="#icon-chevron-right"></use>
                        </svg>
                    </a>
                </div>
            </div>
            <div class="card">
                <div class="col_image"><img src="assets/images/labo4.png" alt="" /></div>
                <div class="col_texte">
                    <div class="content">
                        <div class="titre_description">
                            <h3><span>Sem 04 - Icônes et classes JS</span></h3>
                            <p>
                                Début de l'utillisation de Javascript,
                                <span>commençant par son utilisation avec l'importation d'icônes.</span>
                            </p>
                        </div>
                        <p class="tag">SCSS + JAVASCRIPT</p>
                    </div>
                    <a href="" class="bouton">
                        Voir le laboratoire
                        <svg class="icon--lg">
                            <use href="#icon-chevron-right"></use>
                        </svg>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="tp section">
    <div class="wrapper">
        <div class="title">
            <h2>
                Mes
                <span>laboratoires réactifs</span>
            </h2>
        </div>

        <div class="swiper js-swiper-page swiper-page">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <div class="col_image"><img src="assets/images/labo7.png" alt="" /></div>
                    <div class="col_texte">
                        <div class="content">
                            <div class="titre_description">
                                <h3>
                                    <span>Sem 07 - Site Réactif</span>
                                </h3>
                                <p>
                                    Introduction aux notions de site réactif,

                                    <span>permettant une meilleure adaptation à la taille de l'écran.</span>
                                </p>
                            </div>
                            <p class="tag">SCSS + JAVASCRIPT</p>
                        </div>
                        <a href="" class="bouton blanc">
                            Voir le laboratoire
                            <svg class="icon--lg chevron">
                                <use href="#icon-chevron-right"></use>
                            </svg>
                            <svg class="icon--lg arrow">
                                <use href="#icon-arrow"></use>
                            </svg>
                        </a>
                    </div>
                </div>

                <div class="swiper-slide">
                    <div class="col_image"><img src="assets/images/labo8.png" alt="" /></div>
                    <div class="col_texte">
                        <div class="content">
                            <div class="titre_description">
                                <h3>
                                    <span>Sem 08 - CryptoQc</span>
                                </h3>
                                <p>
                                    Conception d'un site servant à mettre en pratique les notions de responsive,

                                    <span>provoquant des changements majeurs lorsque l'écran est d'une certaine taille.</span>
                                </p>
                            </div>
                            <p class="tag">HTML + SCSS</p>
                        </div>
                        <a href="" class="bouton blanc">
                            Voir le laboratoire
                            <svg class="icon--lg chevron">
                                <use href="#icon-chevron-right"></use>
                            </svg>
                            <svg class="icon--lg arrow">
                                <use href="#icon-arrow"></use>
                            </svg>
                        </a>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="col_image"><img src="assets/images/labo9.png" alt="" /></div>
                    <div class="col_texte">
                        <div class="content">
                            <div class="titre_description">
                                <h3>
                                    <span>Sem 09 - Librairie Swiper</span>
                                </h3>
                                <p>
                                    Introduction à la librairie javascript "Swiper",

                                    <span>une librairie entièrement configurable permettant d'avoir des éléments de type "swiper" dans un site.</span>
                                </p>
                            </div>
                            <p class="tag">JAVASCRIPT</p>
                        </div>
                        <a href="" class="bouton blanc">
                            Voir le laboratoire
                            <svg class="icon--lg chevron">
                                <use href="#icon-chevron-right"></use>
                            </svg>
                            <svg class="icon--lg arrow">
                                <use href="#icon-arrow"></use>
                            </svg>
                        </a>
                    </div>
                </div>
            </div>
            <div class="swiper-pagination"></div>
        </div>
    </div>
</section>

{% include "_partials/_footer.html" %}
