{% include "_partials/_header.html" %}
<section class="hero section">
    <div class="hero_media">
        <img src="assets/images/hero.jpg" alt="" />
    </div>
    <div class="wrapper">
        <div class="hero_content">
            <h1>Mon cahier d’exercice</h1>
        </div>
    </div>
</section>
<!--     <div class="media_gradient">
            
            <div class="gradient"></div>
        </div> -->
<section class="labo section">
    <div class="wrapper">
        <div class="title">
            <h2>
                Mes premiers
                <span>laboratoires</span>
            </h2>
        </div>
        <div class="cards">
            <div class="card">
                <div class="col_image"><img src="assets/images/change_this.jpg" alt="" /></div>
                <div class="col_texte">
                    <div class="content">
                        <div class="titre_description">
                            <h3><span>SEM 01 - Révision</span></h3>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur
                                <span>adipiscing elit. Ultrices lorem non feugiat egestas amet.</span>
                            </p>
                        </div>
                        <p class="tag">HTML + CSS</p>
                    </div>
                    <a href="" class="bouton">
                        Voir le laboratoire
                        <svg class="icon--lg">
                            <use href="#icon-chevron-right"></use>
                        </svg>
                    </a>
                </div>
            </div>
            <div class="card">
                <div class="col_image"><img src="assets/images/change_this.jpg" alt="" /></div>
                <div class="col_texte">
                    <div class="content">
                        <div class="titre_description">
                            <h3><span>SEM 02 - TIMTOOLS</span></h3>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur
                                <span>adipiscing elit. Ultrices lorem non feugiat egestas amet.</span>
                            </p>
                        </div>
                        <p class="tag">SCSS</p>
                    </div>
                    <a href="" class="bouton">
                        Voir le laboratoire
                        <svg class="icon--lg">
                            <use href="#icon-chevron-right"></use>
                        </svg>
                    </a>
                </div>
            </div>
            <div class="card">
                <div class="col_image"><img src="assets/images/change_this.jpg" alt="" /></div>
                <div class="col_texte">
                    <div class="content">
                        <div class="titre_description">
                            <p>
                                <span>SEM 03 - PORTFOLIO LOUIS LAJOIE</span>
                            </p>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur
                                <br />
                                <span>adipiscing elit. Ultrices lorem non feugiat egestas amet.</span>
                            </p>
                        </div>
                        <p class="tag">HTML + SCSS</p>
                    </div>
                    <a href="" class="bouton">
                        Voir le laboratoire
                        <svg class="icon--lg">
                            <use href="#icon-chevron-right"></use>
                        </svg>
                    </a>
                </div>
            </div>
            <div class="card">
                <div class="col_image"><img src="assets/images/change_this.jpg" alt="" /></div>
                <div class="col_texte">
                    <div class="content">
                        <div class="titre_description">
                            <h3><span>SEM 04 - ICÔNES ET CLASSES JS</span></h3>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur
                                <span>adipiscing elit. Ultrices lorem non feugiat egestas amet.</span>
                            </p>
                        </div>
                        <p class="tag">SCSS + JAVASCRIPT</p>
                    </div>
                    <a href="" class="bouton">
                        Voir le laboratoire
                        <svg class="icon--lg">
                            <use href="#icon-chevron-right"></use>
                        </svg>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="tp section">
    <div class="wrapper">
        <div class="title">
            <h2>
                Mes
                <span>laboratoires réactifs</span>
            </h2>
        </div>

        <div class="swiper js-swiper-page swiper-page">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <div class="col_image"><img src="assets/images/change_this.jpg" alt="" /></div>
                    <div class="col_texte">
                        <div class="content">
                            <div class="titre_description">
                                <p>
                                    <span>SEM 03 - PORTFOLIO LOUIS LAJOIE</span>
                                </p>
                                <h3>
                                    Lorem ipsum dolor sit amet, consectetur

                                    <span>adipiscing elit. Ultrices lorem non feugiat egestas amet.</span>
                                </h3>
                            </div>
                            <p class="tag">HTML + SCSS</p>
                        </div>
                        <a href="" class="bouton noir">
                            Voir le laboratoire
                            <svg class="icon--lg">
                                <use href="#icon-chevron-right"></use>
                            </svg>
                        </a>
                    </div>
                </div>

                <div class="swiper-slide">
                    <div class="col_image"><img src="assets/images/change_this.jpg" alt="" /></div>
                    <div class="col_texte">
                        <div class="content">
                            <div class="titre_description">
                                <p>
                                    <span>SEM 03 - PORTFOLIO LOUIS LAJOIE</span>
                                </p>
                                <h3>
                                    Lorem ipsum dolor sit amet, consectetur

                                    <span>adipiscing elit. Ultrices lorem non feugiat egestas amet.</span>
                                </h3>
                            </div>
                            <p class="tag">HTML + SCSS</p>
                        </div>
                        <a href="" class="bouton noir">
                            Voir le laboratoire
                            <svg class="icon--lg">
                                <use href="#icon-chevron-right"></use>
                            </svg>
                        </a>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="col_image"><img src="assets/images/change_this.jpg" alt="" /></div>
                    <div class="col_texte">
                        <div class="content">
                            <div class="titre_description">
                                <p>
                                    <span>SEM 03 - PORTFOLIO LOUIS LAJOIE</span>
                                </p>
                                <h3>
                                    Lorem ipsum dolor sit amet, consectetur

                                    <span>adipiscing elit. Ultrices lorem non feugiat egestas amet.</span>
                                </h3>
                            </div>
                            <p class="tag">HTML + SCSS</p>
                        </div>
                        <a href="" class="bouton noir">
                            Voir le laboratoire
                            <svg class="icon--lg">
                                <use href="#icon-chevron-right"></use>
                            </svg>
                        </a>
                    </div>
                </div>
            </div>
            <div class="swiper-pagination"></div>
        </div>
    </div>
</section>

{% include "_partials/_footer.html" %}
